* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px auto;
  max-width: 1000px;
  color: aliceblue;
  background-color: rgb(60, 44, 2);

  height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../MDN/images/club.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(0.3);
}
.form {
  display: flex;
  flex-flow: column;
  margin-block: 20px;
  max-width: 500px;
  gap: 20px;
  height: fit-content;
}
.button {
  background-color: goldenrod;
  border: 1px solid rgb(255, 183, 0);
  color: aliceblue;

  padding: 8px;
  border-radius: 4px;
}
.button:hover {
  cursor: pointer;
  background-color: gold;
  transform: scaley(1.1);
}
.list {
  background-color: rgba(244, 238, 238, 0.146);
  border: 1 px solid aliceblue;
  color: aliceblue;
  scrollbar-width: none;
  height: 100%;
  padding: 20px 20px 0 20px;
}
.list:focus {
  border: none;
  outline: goldenrod;
}
.list option:active {
  background-color: rgba(218, 165, 32, 0.553);
}
